services:
  app:
    container_name: app-retro-cine-burgers
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    volumes:
      - ./:/app
      - /app/node_modules
    depends_on:
      db:
        condition: service_healthy
    environment:
      - 3000=3000
      - DATABASE_URL=${DATABASE_URL}
    command: >
      sh -c "
      while ! nc -z database-retro-cine-burgers 5432; do
        echo 'Waiting for PostgreSQL...';
        sleep 1;
      done;
      npx prisma generate && 
      npx prisma migrate deploy && 
      npm run dev
      "
  db:
    image: 'postgres:16.0-alpine3.18'
    container_name: database-retro-cine-burgers
    env_file:
      - .env
    ports:
      - "5432:5432"
    # POSTGRES_INITDB_ARGS: '--lc-collate=en_US.utf8 --lc-ctype=en_US.utf8'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}']
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s